#mobile-community{
    height: 100vh;
    width: 100vw;

    .mobile-community-content-all{
        height: 100%;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .mobile-community-content-section{
            // display: flex;
            // align-items: center;
            // justify-content: center;

            display: flex; 
            flex-basis: calc(100% - 0px);  
            justify-content: center;
            flex-direction: column;

            h1{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #mobile-content-community{
        background-color: beige;
    }
}